@charset "UTF-8";
/*
    em HTML é id     = em CSS é # (só pode ter um elemento por página)
    em HTML é class  = e, CSS é . (posso ter várioas elementos por página)
*/
main{
    background-color: #ced5c8;
    width: 1000px;
    padding: 10px;
    margin: auto;
   
}
body{
    background-image: linear-gradient(to right, white, #945050, #803c3c);
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #0b2309;
}
h1#principal{
    text-align: center;
    background-color: rgb(12, 84, 7);
    color: white;
}
h2{
    color: #22871b;
    text-decoration: underline;
}
p{
    line-height: 30px;
    text-decoration-style: solid;

}
.basico{
    color:  #22871b;
}
.intermediario{
    color: #80793c;
}
.avançado{
    color: #803c3c;
}
.destaque{
    background-color: rgba(179, 179, 35, 0.392);
}
